@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");

body {
           background-color:aquamarine;
           background-image:url(../images/mdg-queens-of-africa-dol-008.jpg);
           background-repeat:no-repeat;
           background-size:cover;
           background-position:center;
           color:purple;    
           font-family: Times Roman Numeral;
           font-size:30px;
           font-weight:bold;
           line-height:1.5;
}
           
 body {
   background-color: black;
}           
       
       
       h1 {
           color:teal;
           font-size:100px;
           line-height:3;
           
       }
       
       h2 {
           color:yellow;
           font-size:75px;
           font-style:italic;
           font-weight:bold;
           text-align:center;
       }
       
       h3 {
           font-size:50px;
           text-align:center;
       }
       
       a: link{
           color:green;
           font-style:italic;
       } 
       
       a:visited {
           color:red;
           font-style:italic;
           
       }
       
       a:active {
           color :green;
           font-family:ariel;
       }
       
       a:hover {
           color:yellow;
           font-weight:bolder;
       }
           

       img {
           
           /*position:absolute;*/
           z-index:1;
       }
       .nav li {
           list-style-type:none;
           margin: 10px;
           display:inline-block;
       }
       
       .nav a{
           padding: 10px;
           background-color:black;
       }
       .nav a :hover{
           padding: 10px;
           background-color:red;
       }
       
       .nav li{
       display:inline-block;
       list-style-type:none;
       height:25px;
       padding:0;
       margin:0;
         
}

ul.nav{
      margin:20px 10px 40px 20px;
      background-color:#07704b;
      width:100%;
}


.nav li a {
           background-color:#07704b;
           color:white;
           text-decoration:none;
           padding:20px 40px;
           float: left;
           width:auto;
           border-right:solid 1px white;
           text-transform:uppercase;
           font-size:26px;
}
ul.nav:hover{
      background-color:blue;
      color:black;    
}

.nav li:first-child a{
  
           border-left:solid 1px white;
}
.nav a:link{
    color:#49b18c;
}
.nav a:visited{
    color:#07704b;
}
.nav a:active{
    border:solid 1px white;
}

.black {
    background-color:black;
    width:100%;
    text-align:center;
    left:0px;
    top:1073px;

    
}

/* this is he website for the carousel http://www.the-art-of-web.com/css/3d-transforms/ */
 #spinner img {
    position: absolute;
    border: 1px solid #ccc;
    background: rgba(255,255,255,0.8);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
  }


@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

#stage {
  margin: 1em auto;
  -webkit-perspective: 1200px;
}

#spinner {
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
  -webkit-transform-style: preserve-3d;
}
#spinner:hover {
  -webkit-animation-play-state: paused;
}

#spinner img {
  position: absolute;
  border: 1px solid #ccc;
  background: rgba(255,255,255,0.8);
  box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
}
